// Override theming for edx.org bootstrap
// Define the primary red color
$juit: #fcfcfc;
// Make red the primary color
$primary: $juit;
$secondary-light: #00ff37;
$secondary-dark: #2d3537;
$header-bg: #4d4d4d;
$footer-bg: #313131;
@import 'edx-bootstrap/sass/edx/theme';